<%- layout('layouts/boilerplate') %>

<div class="alert alert-danger mt-5" role="alert">
  <h4 class="alert-heading">REQUESTED SHOW NOT FOUND :)</h4>
  <p>
    The thing you are looking for doesn’t exist Please try again or check your
    input
  </p>
  <hr />
</div>
