body {
  background-image: url("https://www.dreamstime.com/blurred-tv-show-movie-selection-blue-streaming-media-service-digital-entertainment-technology-interface-hd-quality-image366595310");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
